html {
  height: 100%;
  width: 100%;
  font-family: 'Agbalumo', system-ui, 'Gabarito', sans-serif;
}

body {
  font-family: 'Gabarito', sans-serif;
}

.navbar-brand,
h2 {
  font-family: 'Agbalumo';
}

.main {
  max-width: 860px;
}